@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Mapa Prueba";
}
<!-- Content Wrapper. Contains page content -->
<div id="map"></div>
<!-- /.content-wrapper -->
<script src="~/scripts/MapaPrueba/Mapat.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKVTqw2hnvw8SVYO5EpUJ4IwntOZvqokg&callback=initMap" async defer></script>

@section Styles{
    <style type="text/css">
         /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
         #map {
             height: 100%;
         }

         /* Optional: Makes the sample page fill the window. */
         html,
         body {
             height: 100%;
             margin: 0;
             padding: 0;
         }
    </style>
}
@section Scripts{


    <script type="text/javascript"></script>

}
