@{
    ViewData["Title"] = "Accesso denegado";
}



<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>
                No tienes acceso a este recurso.
            </h3>
        </div>
    </div>
</div>