@{
    ViewData["Title"] = "Confirma email";
}



<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>
                Gracias por confirmar su correo electrónico.
            </h3>
        </div>
    </div>
</div>