@{
    ViewData["Title"] = "Confirma email notification";
}




<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>
                Hemos enviado una confirmación por correo electrónico a su dirección de correo electrónico registrada..
            </h3>
            <h4>
                Siga las instrucciones del correo electrónico para activar la cuenta.
            </h4>
        </div>
    </div>
</div>