@{
    ViewData["Title"] = "Confirmación de contraseña olvidada";
}



<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>Por favor revise su correo electrónico para restablecer su contraseña.</h3>
        </div>
    </div>
</div>