@{
    ViewData["Title"] = "Locked out";
}

<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>
                Esta cuenta se ha bloqueado. Vuelve a intentarlo más tarde.
            </h3>
        </div>
    </div>
</div>

