@{
    ViewData["Title"] = "Reset password confirmation";
}


<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>
                Tu contraseña ha sido restablecida. Por favor <a asp-action="Login">Haga clic aquí para ingresar</a>.
            </h3>
        </div>
    </div>
</div>