body {
    padding-top: 50px;
    padding-bottom: 20px;
}
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px; /*--Set height of tabs--*/
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    width: 100%;
}

ul.tabs li {
        float: left;
        margin: 0;
        padding: 0;
        height: 31px; /*--Subtract 1px from the height of the unordered list--*/
        line-height: 31px; /*--Vertically aligns the text within the tab--*/
        border: 1px solid #999;
        border-left: none;
        margin-bottom: -1px; /*--Pull the list item down 1px--*/
        overflow: hidden;
        position: relative;
        background: #e0e0e0;
}

ul.tabs li a {
            text-decoration: none;
            color: #000;
            display: block;
            font-size: 1.2em;
            padding: 0 20px;
            border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
            outline: none;
}

ul.tabs li a:hover {
                background: #ccc;
}

.tab_container {
    border: 1px solid #999;
    border-top: none;
    overflow: hidden;
    clear: both;
    float: left;
    width: 100%;
    background: #fff;
}

.tab_content {
    padding: 20px;
    font-size: 1.2em;
}

html ul.tabs li.active, html ul.tabs li.active a:hover { /*--Makes sure that the active tab does not
        listen to the hover properties--*/
    background: #ccc;
    border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with
        its content--*/
}
.wizard a:before {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}

.wizard a:after {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 21px solid #efefef;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}

.wizard a:first-child:before,
.wizard a:last-child:after {
    border: none;
}

.wizard a:first-child {
    -webkit-border-radius: 8px 0 0 0px;
    -moz-border-radius: 8px 0 0 0px;
    border-radius: 8px 0 0 0px;
}

.wizard a:last-child {
    -webkit-border-radius: 0 8px 0px 0;
    -moz-border-radius: 0 8px 0px 0;
    border-radius: 0 8px 0px 0;
}

#ss-banner {
    background: transparent url(https://github.com/hps/heartland-php/blob/master/examples/end-to-end/assets/images/ss-shield@2x.png?raw=true) no-repeat left center;
    height: 40px;
    background-size: 280px 34px;
    margin-bottom: 7px;
}

.form-wrapper {
    display: block;
    width: 300px;
    margin: 10px auto;
}



/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
